/** SKIN OVERLOADS ************************************************************/

:root{
	--fontSize: 1.1em;
  --fontStyle: 'Roboto';
  --contentBG: #ffffff;
  --contentFG: #4d4d4d;
  --contentLightBG: #f2f2f2;
  --contentLightFG:#989898;
	--headerBG: #ffffff;
  --headerFG: #4d4d4d;
  --maxWidth: 1296px;
  --titleFG: #292929;
  --accentColor:#1177C0;
  --accentColorAlpha:#1177C03d;
  --accentDarkColor:#074f82;
  --accentDarkFG: #fff;
  --accentLightColor: #D9EBFF;
  --borderColor: #e2e2e2;
  --borderColorAlpha: #e2e2e280;
  --hoverBG: #bae2fe;
  --menuBG: #f5f5ff;
  --menuFG: #1177C0;
  --elmtBG: #f5f5ff;
  --blockWarning: #d14121;
  --blockWarningLight: #d1412114;
  --blockAdvice: #b9a500;
  --blockTip: #7CB342;
  --blockExample: #1976D2;
  --blockNote: #CE6300;
  --blockLegal: #388E3C;
  --blockComplement: #795548;
  --blockComplementLight: #7955481f;
  --footerBG: #fff;
  --footerFG: #4d4d4d;
  --resultsBG: #e0f2e4;
  --scrollbar-thumb-color:#1177C0;
  --scrollbar-bgcolor:#f5f5ff;
}